.headerSection {
  background-image: url(../../../public/car.jpg);
  min-height: 80vh;
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: right;

  .headerContent {
    padding-top: 13rem;
    h2 {
      font-weight: 700;
    }
    p {
      font-size: 18px;
      font-weight: 500;
    }
    button {
      background-color: #3cb95d;
      border-color: #3cb95d;
      outline: none;
      border: none;
      color: white;
      padding: 7px 15px;
      border-radius: 5px;
    }
  }
}
