.navbar {
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  height: 10%;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 100;

  .navbar__content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 968px) {
      flex-direction: column;
    }

    .navbar__content__left {
      display: flex;
      align-items: center;
      text-decoration: none;
     a{
      text-decoration: none;
      color: #000;
      font-size: 0.9rem;
     }
      
      @media screen and (max-width: 968px) {
        flex-direction: column;
      }
      h2 {
        font-size: 20px;
        margin: 0;
        cursor: pointer;

        @media screen and (max-width: 968px) {
          font-size: 16px;
        }
      }
      ul {
        list-style-type: none;
        display: flex;
        align-items: center;
        gap: 30px;
        margin: 0;
        li {
          cursor: pointer;
          transition: all 0.5s;
          &:hover {
            color: blue;
          }
          a {
            text-decoration: none;
            color: inherit;
          }
        }
      }
    }
    .navbar__content__right {
      display: flex;
      a, p {
        text-decoration: none;
        color: #000;

        font-size: 16px;
        font-weight: 600;
      }
      p{
        cursor: pointer;
      }

      @media all and (max-width: 768px){
        margin-top: 0.5rem;
      }
    }
  }
}
