body {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.started-link {
  padding: 0.7rem 1rem;
  background-color: #3cb95d;
  text-decoration: none;
  color: #fff;
  border-radius: 0.4rem;
}

.form {
  margin-top: 12rem;
  margin-bottom: 10rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 2rem 4rem;
}
@media all and (max-width: 768px) {
  .form {
    padding: 2rem 1rem;
  }
}

.field-container {
  margin-bottom: 1rem;
}
.field-container label {
  display: block;
}
.field-container label span {
  color: red;
  font-size: 0.9rem;
  margin-bottom: 0.2rem;
}
.field-container input {
  width: 100%;
  padding: 0.7rem 1rem;
  border: 1px solid #848484;
  border-radius: 0.4rem;
}

.login-btn {
  padding: 0.7rem 1rem;
  background-color: #3cb95d;
  text-decoration: none;
  color: #fff;
  border-radius: 0.4rem;
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 2rem;
  border: 0;
}

.model-btn {
  padding: 0.6rem 1rem;
  margin-top: 0.5rem;
  border-radius: 0.4rem;
  width: 100%;
}

.dash-navigation {
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.dash-navigation .dash-inner {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0;
}
.dash-navigation .dash-inner .dash-logo h1 {
  margin: 0;
  font-size: 1.5rem;
  color: #5e107a;
}
@media all and (max-width: 768px) {
  .dash-navigation .dash-inner .dash-logo h1 {
    font-size: 1rem;
  }
}
.dash-navigation .dash-inner .dash-user a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.dash-navigation .dash-inner .dash-user a img {
  max-width: 30px;
}
.dash-navigation .dash-inner .dash-user a p {
  margin: 0;
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #5e107a;
}

.dashboard {
  padding: 5rem 0;
}
@media all and (max-width: 768px) {
  .dashboard {
    padding: 3rem 0;
  }
}

.dash-top-ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}
.dash-top-ul li {
  margin-right: 1rem;
  margin-bottom: 1rem;
  flex: 1;
}
.dash-top-ul li .dash-card {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 230px;
  align-items: center;
  border-radius: 0.4rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.dash-top-ul li .dash-card img {
  max-width: 50px;
}
.dash-top-ul li .dash-card .faded {
  color: #5e107a;
  font-size: 0.9rem;
  text-align: center;
}
.dash-top-ul li .dash-card p {
  text-align: center;
}
@media all and (max-width: 768px) {
  .dash-top-ul li {
    margin-right: 0;
    width: 100%;
  }
}

.trans-card {
  border-radius: 0.4rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 1rem;
}

.green {
  color: #008000;
}

.ard-heading {
  color: #5e107a;
}

.purple {
  color: #5e107a;
}

.transaction-ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.transaction-ul li {
  margin-top: 1rem;
  background-color: #f4e2fd;
  padding: 0.4rem;
  border-radius: 0.4rem;
}

.transaction {
  font-size: 0.9rem;
}
.transaction .user {
  display: flex;
  align-items: center;
}
.transaction .user img {
  max-width: 30px;
}
.transaction .user p {
  font-weight: bold;
  color: #008000;
  margin: 0 0.4rem;
}
.transaction .user span {
  background-color: #5e107a;
  padding: 0.1rem;
  border-radius: 0.2rem;
  color: #fff;
}
.transaction .details {
  display: flex;
  margin-top: 0.5rem;
  align-items: center;
}
.transaction .details p {
  margin: 0 0.5rem;
  font-weight: 500;
}
.transaction .details p span {
  color: #008000;
}

.name-detials {
  display: flex;
  flex-wrap: wrap;
}
.name-detials p {
  color: #008000;
  font-weight: 500;
  margin-right: 2rem;
}
.name-detials p span {
  color: #000;
  margin-left: 0.5rem;
  font-weight: normal;
}

.black {
  color: #000 !important;
}

.top {
  display: flex;
  margin-bottom: 2rem;
}
.top .top-left {
  margin-right: 2rem;
}
.top .top-left img {
  max-width: 300px;
  border-radius: 0.4rem;
}
@media all and (max-width: 768px) {
  .top {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .top .top-left {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}

.timerr {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  background-color: #f4e2fd;
  padding: 1rem;
  border-radius: 0.4rem;
  align-items: center;
}
.timerr h6 {
  font-size: 1.3rem;
  font-weight: bold;
  color: #5e107a;
  margin: 0;
  margin-right: 3rem;
}
.timerr span {
  font-size: 1.3rem;
  font-weight: bold;
}
@media all and (max-width: 768px) {
  .timerr {
    margin: 0 1rem;
    margin-bottom: 1rem;
    text-align: center;
  }
  .timerr h6 {
    margin: 0;
  }
  .timerr span {
    width: 100%;
    text-align: center;
  }
}

.check {
  width: 18px;
  display: grid;
  place-items: center;
  height: 18px;
  margin-left: 1rem;
  margin-left: 1rem;
  border-radius: 0.3rem;
  background-color: #1a9066;
}
.check img {
  max-width: 16px !important;
}

.check-two {
  margin-left: 1.2rem;
}

.card-number {
  margin: 1rem 0;
  padding: 1rem 0.5rem;
  background-color: #f5f5f5;
  border-radius: 0.4rem;
}
.card-number label {
  margin-bottom: 0.5rem;
}
.card-number input {
  width: 100%;
  padding: 0.7rem 1rem;
  border: 1px solid #848484;
  border-radius: 0.4rem;
  background-color: transparent;
}

.check-btn {
  background-color: #034c03;
}

.model {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}
.model .inner-model {
  min-width: 500px;
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.4rem;
}
@media all and (max-width: 768px) {
  .model .inner-model {
    min-width: unset;
    width: 98%;
  }
}

.custom-card {
  padding: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.custom-field {
  width: 100%;
  padding: 0.7rem 1rem;
  border: 1px solid #848484;
  border-radius: 0.4rem;
  background-color: transparent;
}

.cross {
  transform: rotate(45deg);
  width: 30px;
  cursor: pointer;
}

.visahero {
  padding: 5rem 0;
  padding-top: 10rem;
  min-height: 60vh;
  background-color: #10237c;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner-heading {
  color: #fff;
  font-size: 2.5rem;
  font-weight: bold;
}

.white {
  color: #fff;
}

.banner-image {
  border-radius: 50%;
  width: 100%;
  max-width: 500px;
}

.sec {
  padding: 5rem 0;
}
@media all and (max-width: 768px) {
  .sec {
    padding: 3rem 0;
  }
}

.side-btns {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 1rem;
  border-radius: 0.4rem;
  height: 100%;
}
.side-btns button {
  background-color: #10237c;
  width: 100%;
  padding: 0.8rem;
  border: 0;
  border-radius: 0.4rem;
  color: #fff;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}
.side-btns .active {
  background-color: #000;
}

.card-info {
  background-color: #f7f7f7;
}

.border-radius {
  border-radius: 0.4rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.visa-card {
  padding: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-bottom: 1rem;
  border-radius: 0.4rem;
  display: flex;
  gap: 1rem;
}
.visa-card .input input {
  width: 100%;
  padding: 0.6rem;
  border-radius: 0.4rem;
  border: 1px solid #848484;
}
.visa-card button {
  background-color: #10237c;
  color: #fff;
  text-transform: uppercase;
  border: 0;
  padding: 0.6rem;
  border-radius: 0.4rem;
  font-size: 1.1rem;
}
.visa-card .input,
.visa-card button {
  width: 48%;
}
@media all and (max-width: 992px) {
  .visa-card {
    flex-direction: column;
  }
  .visa-card .input,
  .visa-card button {
    width: 100%;
  }
}

.region {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.4rem;
}
.region h4 {
  font-size: 1.2rem;
  font-weight: 500;
}
.region ul {
  padding: 0;
  list-style: none;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}
.region ul li {
  margin-right: 1rem;
  margin-left: 0.5rem;
  position: relative;
  font-weight: bold;
}
.region ul li::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 20px;
  background-color: #10237c;
  top: 2px;
  left: -0.5rem;
}
@media all and (max-width: 992px) {
  .region ul {
    display: block;
  }
  .region ul li {
    margin-bottom: 0.5rem;
  }
}

.nav-visa {
  max-width: 45px;
}

.usa {
  text-transform: capitalize;
  font-weight: 500;
  color: #1a046f;
}
.usa span {
  text-transform: capitalize;
  font-weight: bold;
  margin-top: 1rem;
}

.payment-para {
  text-align: start !important;
  font-size: 0.8rem;
}

.payment-box {
  display: flex;
  justify-content: space-between;
  max-width: 90px;
}

.nav-btn {
  background-color: #10237c;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  border: 0;
  text-transform: capitalize;
  font-size: 0.9rem;
  margin-left: 1rem;
}
@media all and (max-width: 768px) {
  .nav-btn {
    margin-left: 0;
    margin-top: 0.5rem;
  }
}

.sig-img {
  width: 100%;
  max-width: 400px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.admin-btn {
  background-color: #10237c;
  color: #fff;
  padding: 0.7rem 1rem;
  border-radius: 0.4rem;
  border: 0;
  text-transform: capitalize;
  font-size: 0.9rem;
  margin-left: 1rem;
  display: block;
  width: 100%;
  margin: 0.7rem 0;
}

.admin-nat-model {
  position: fixed;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 1rem;
  width: 100%;
  height: 100%;
  z-index: 9999;
  border-radius: 0.4rem;
}

.natwest {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 0.4rem;
  width: 500px;
  padding: 1rem 0.7rem;
}
.natwest p {
  font-size: 1.1rem;
}
.natwest .admin-cross {
  rotate: 45deg;
}
.natwest h4 {
  color: #10237c;
}
@media all and (max-width: 768px) {
  .natwest {
    width: 98%;
  }
}/*# sourceMappingURL=globals.css.map */