.started-link {
  padding: 0.7rem 1rem;
  background-color: #3cb95d;
  text-decoration: none;
  color: #fff;
  border-radius: 0.4rem;
}

.form {
  margin-top: 12rem;
  margin-bottom: 10rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 2rem 4rem;
}
@media all and (max-width: 768px) {
  .form {
    padding: 2rem 1rem;
  }
}

.field-container {
  margin-bottom: 1rem;
}
.field-container label {
  display: block;
}
.field-container label span {
  color: red;
  font-size: 0.9rem;
  margin-bottom: 0.2rem;
}
.field-container input {
  width: 100%;
  padding: 0.7rem 1rem;
  border: 1px solid #848484;
  border-radius: 0.4rem;
}

.login-btn {
  padding: 0.7rem 1rem;
  background-color: #3cb95d;
  text-decoration: none;
  color: #fff;
  border-radius: 0.4rem;
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 2rem;
  border: 0;
}

.dash-navigation {
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.dash-navigation .dash-inner {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0;
}
.dash-navigation .dash-inner .dash-logo h1 {
  margin: 0;
  font-size: 1.5rem;
  color: #5e107a;
}
@media all and (max-width: 768px) {
  .dash-navigation .dash-inner .dash-logo h1 {
    font-size: 1rem;
  }
}
.dash-navigation .dash-inner .dash-user a {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.dash-navigation .dash-inner .dash-user a img {
  max-width: 30px;
}
.dash-navigation .dash-inner .dash-user a p {
  margin: 0;
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #5e107a;
}

.dashboard {
  padding: 5rem 0;
}
@media all and (max-width: 768px) {
  .dashboard {
    padding: 3rem 0;
  }
}

.dash-top-ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}
.dash-top-ul li {
  flex: 1;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
.dash-top-ul li .dash-card {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 230px;
  align-items: center;
  border-radius: 0.4rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.dash-top-ul li .dash-card img {
  max-width: 50px;
}
.dash-top-ul li .dash-card .faded {
  color: #5e107a;
  font-size: 0.9rem;
  text-align: center;
}
.dash-top-ul li .dash-card p {
  text-align: center;
}

.trans-card {
  border-radius: 0.4rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 1rem;
}

.green {
  color: #008000;
}

.ard-heading {
  color: #5e107a;
}

.purple {
  color: #5e107a;
}

.transaction-ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.transaction-ul li {
  margin-top: 1rem;
  background-color: #f4e2fd;
  padding: 0.4rem;
  border-radius: 0.4rem;
}

.transaction {
  font-size: 0.9rem;
}
.transaction .user {
  display: flex;
  align-items: center;
}
.transaction .user img {
  max-width: 30px;
}
.transaction .user p {
  font-weight: bold;
  color: #008000;
  margin: 0 0.4rem;
}
.transaction .user span {
  background-color: #5e107a;
  padding: 0.1rem;
  border-radius: 0.2rem;
  color: #fff;
}
.transaction .details {
  display: flex;
  margin-top: 0.5rem;
  align-items: center;
}
.transaction .details p {
  margin: 0 0.5rem;
  font-weight: 500;
}
.transaction .details p span {
  color: #008000;
}

.name-detials {
  display: flex;
  flex-wrap: wrap;
}
.name-detials p {
  color: #008000;
  font-weight: 500;
  margin-right: 2rem;
}
.name-detials p span {
  color: #000;
  margin-left: 0.5rem;
  font-weight: normal;
}

.black {
  color: #000 !important;
}

.top {
  display: flex;
  margin-bottom: 2rem;
}
.top .top-left {
  margin-right: 2rem;
}
.top .top-left img {
  max-width: 300px;
  border-radius: 0.4rem;
}
@media all and (max-width: 768px) {
  .top {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .top .top-left {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}

.timerr {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  background-color: #f4e2fd;
  padding: 1rem;
  border-radius: 0.4rem;
  align-items: center;
}
.timerr h6 {
  font-size: 1.3rem;
  font-weight: bold;
  color: #5e107a;
  margin: 0;
  margin-right: 3rem;
}
.timerr span {
  font-size: 1.3rem;
  font-weight: bold;
}
@media all and (max-width: 768px) {
  .timerr {
    margin: 0 1rem;
    margin-bottom: 1rem;
    text-align: center;
  }
  .timerr h6 {
    margin: 0;
  }
  .timerr span {
    width: 100%;
    text-align: center;
  }
}

.check {
  width: 22px;
  display: inline-block;
  place-items: center;
  height: 22px;
  margin-left: 1rem;
  margin-left: 1rem;
  border-radius: 0.3rem;
  background-color: #1A9066;
}
.check img {
  max-width: 20px !important;
}

.check-two {
  margin-left: 1.2rem;
}/*# sourceMappingURL=globals.css.map */