.started-link{
  padding: 0.7rem 1rem;
  background-color: #3cb95d;
  text-decoration: none;
  color: #fff;
  border-radius: 0.4rem;
  
}


.form{
  margin-top: 12rem;
  margin-bottom: 10rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 2rem 4rem;
  @media all and (max-width:768px){
    padding: 2rem 1rem;
  }
}
 

.field-container{
  margin-bottom: 1rem;
  label{
display: block;
span{
  color: red;
  font-size: 0.9rem;margin-bottom: 0.2rem;
}


  }
  input{
    width: 100%;
    padding: 0.7rem 1rem;
    border: 1px solid #848484;
    border-radius: 0.4rem;
  }
}


.login-btn{
  padding: 0.7rem 1rem;
  background-color: #3cb95d;
  text-decoration: none;
  color: #fff;
  border-radius: 0.4rem;
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 2rem;
  border: 0;
}



.dash-navigation {
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  .dash-inner {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0;
    .dash-logo {
      h1 {
        margin: 0;
        font-size: 1.5rem;
        color: #5e107a;
        @media all and (max-width: 768px) {
          font-size: 1rem;
        }
      }

    }

    .dash-user {
      a{
        display: flex;
      align-items: center;
        text-decoration: none;
        img {
          max-width: 30px;
        }
        p {
          margin: 0;
          font-size: 1.1rem;
          font-weight: 500;
          letter-spacing: 1px;
          text-transform: uppercase;
          color: #5e107a;
        }
      }
      
     
    }
  }
}

.dashboard {
  padding: 5rem 0;

  @media all and (max-width: 768px) {
    padding: 3rem 0;
  }
}
.dash-top-ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  li {
    flex: 1;
    margin-right: 1rem;
    margin-bottom: 1rem;

    .dash-card {
      padding: 1rem 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 230px;
      align-items: center;
      border-radius: 0.4rem;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      img {
        max-width: 50px;
      }

      .faded {
        color: #5e107a;
        font-size: 0.9rem;
        text-align: center;
      }

      p {
        text-align: center;
      }
    }
  }
}

.trans-card {
  border-radius: 0.4rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 1rem;
}

.green {
  color: #008000;
}

.ard-heading {
  color: #5e107a;
}

.purple {
  color: #5e107a;
}

.transaction-ul {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    margin-top: 1rem;
    background-color: #f4e2fd;
    padding: 0.4rem;
    border-radius: 0.4rem;
  }
}

.transaction {
  font-size: 0.9rem;
  .user {
    display: flex;
    align-items: center;
    img {
      max-width: 30px;
    }
    p {
      font-weight: bold;
      color: #008000;
      margin: 0 0.4rem;
    }
    span {
      background-color: #5e107a;
      padding: 0.1rem;
      border-radius: 0.2rem;
      color: #fff;
    }
  }

  .details {
    display: flex;
    margin-top: 0.5rem;
    align-items: center;
    p {
      margin: 0 0.5rem;
      font-weight: 500;
      span {
        color: #008000;
      }
    }
  }
}

.name-detials {
  display: flex;
  flex-wrap: wrap;
  p {
    color: #008000;
    font-weight: 500;
    margin-right: 2rem;
    span {
      color: #000;
      margin-left: 0.5rem;
      font-weight: normal;
    }
  }
}

.black {
  color: #000 !important;
}

.top {
    display: flex;
    margin-bottom: 2rem;
  .top-left {
    margin-right: 2rem;
    img {
      max-width: 300px;
      border-radius: 0.4rem;
    }
  }
  @media all and (max-width:768px){
    flex-direction: column;
    .top-left {
      margin-right: 0;
      margin-bottom: 1rem;
    }
  }
}


.timerr{
  display: flex;
  flex-wrap: wrap;
  margin: 2rem 0;
  background-color: #f4e2fd;
  padding: 1rem;
  border-radius: 0.4rem;
  align-items: center;
  h6{
    font-size: 1.3rem;
    font-weight: bold;
    color: #5e107a;
    
    margin: 0;
    margin-right: 3rem;
  }
  span{
    font-size: 1.3rem;
    font-weight: bold;
  }
}
