body {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

* {
  box-sizing: border-box;
}
.started-link {
  padding: 0.7rem 1rem;
  background-color: #3cb95d;
  text-decoration: none;
  color: #fff;
  border-radius: 0.4rem;
}

.form {
  margin-top: 12rem;
  margin-bottom: 10rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 2rem 4rem;
  @media all and (max-width: 768px) {
    padding: 2rem 1rem;
  }
}

.field-container {
  margin-bottom: 1rem;
  label {
    display: block;
    span {
      color: red;
      font-size: 0.9rem;
      margin-bottom: 0.2rem;
    }
  }
  input {
    width: 100%;
    padding: 0.7rem 1rem;
    border: 1px solid #848484;
    border-radius: 0.4rem;
  }
}

.login-btn {
  padding: 0.7rem 1rem;
  background-color: #3cb95d;
  text-decoration: none;
  color: #fff;
  border-radius: 0.4rem;
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 2rem;
  border: 0;
}

.model-btn {
  padding: 0.6rem 1rem;
  margin-top: 0.5rem;
  border-radius: 0.4rem;
  width: 100%;
}

.dash-navigation {
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  .dash-inner {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0;
    .dash-logo {
      h1 {
        margin: 0;
        font-size: 1.5rem;
        color: #5e107a;
        @media all and (max-width: 768px) {
          font-size: 1rem;
        }
      }
    }

    .dash-user {
      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        img {
          max-width: 30px;
        }
        p {
          margin: 0;
          font-size: 1.1rem;
          font-weight: 500;
          letter-spacing: 1px;
          text-transform: uppercase;
          color: #5e107a;
        }
      }
    }
  }
}

.dashboard {
  padding: 5rem 0;

  @media all and (max-width: 768px) {
    padding: 3rem 0;
  }
}
.dash-top-ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  li {
   
    margin-right: 1rem;
    margin-bottom: 1rem;

    .dash-card {
      padding: 1rem 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 230px;
      align-items: center;
      border-radius: 0.4rem;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      img {
        max-width: 50px;
      }

      .faded {
        color: #5e107a;
        font-size: 0.9rem;
        text-align: center;
      }

      p {
        text-align: center;
      }
    }

    @media all and (max-width: 768px) {
      margin-right: 0;
      width: 100%;
    }
  }
}

.trans-card {
  border-radius: 0.4rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 1rem;
}

.green {
  color: #008000;
}

.ard-heading {
  color: #5e107a;
}

.purple {
  color: #5e107a;
}

.transaction-ul {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    margin-top: 1rem;
    background-color: #f4e2fd;
    padding: 0.4rem;
    border-radius: 0.4rem;
  }
}

.transaction {
  font-size: 0.9rem;
  .user {
    display: flex;
    align-items: center;
    img {
      max-width: 30px;
    }
    p {
      font-weight: bold;
      color: #008000;
      margin: 0 0.4rem;
    }
    span {
      background-color: #5e107a;
      padding: 0.1rem;
      border-radius: 0.2rem;
      color: #fff;
    }
  }

  .details {
    display: flex;
    margin-top: 0.5rem;
    align-items: center;
    p {
      margin: 0 0.5rem;
      font-weight: 500;
      span {
        color: #008000;
      }
    }
  }
}

.name-detials {
  display: flex;
  flex-wrap: wrap;
  p {
    color: #008000;
    font-weight: 500;
    margin-right: 2rem;
    span {
      color: #000;
      margin-left: 0.5rem;
      font-weight: normal;
    }
  }
}

.black {
  color: #000 !important;
}

.top {
  display: flex;
  margin-bottom: 2rem;
  .top-left {
    margin-right: 2rem;
    img {
      max-width: 300px;
      border-radius: 0.4rem;
    }
  }
  @media all and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    text-align: center;
    .top-left {
      margin-right: 0;
      margin-bottom: 1rem;
    }
  }
}

.timerr {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  background-color: #f4e2fd;
  padding: 1rem;
  border-radius: 0.4rem;
  align-items: center;
  h6 {
    font-size: 1.3rem;
    font-weight: bold;
    color: #5e107a;

    margin: 0;
    margin-right: 3rem;
  }
  span {
    font-size: 1.3rem;
    font-weight: bold;
  }
  @media all and (max-width: 768px) {
    margin: 0 1rem;
    margin-bottom: 1rem;
    text-align: center;
    h6 {
      margin: 0;
    }
    span {
      width: 100%;
      text-align: center;
    }
  }
}

.check {
  width: 18px;
  display: grid;
  place-items: center;
  height: 18px;
  margin-left: 1rem;
  margin-left: 1rem;
  border-radius: 0.3rem;
  background-color: #1a9066;
  img {
    max-width: 16px !important;
  }
}

.check-two {
  margin-left: 1.2rem;
}

.card-number {
  margin: 1rem 0;
  padding: 1rem 0.5rem;
  background-color: #f5f5f5;
  border-radius: 0.4rem;
  label {
    margin-bottom: 0.5rem;
  }
  input {
    width: 100%;
    padding: 0.7rem 1rem;
    border: 1px solid #848484;
    border-radius: 0.4rem;
    background-color: transparent;
  }
}

.check-btn {
  background-color: #034c03;
}

.model {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  .inner-model {
    min-width: 500px;
    background-color: #fff;
    padding: 1rem;
    border-radius: 0.4rem;

    @media all and (max-width: 768px) {
      min-width: unset;
      width: 98%;
    }
  }
}

.custom-field {
  width: 100%;
  padding: 0.7rem 1rem;
  border: 1px solid #848484;
  border-radius: 0.4rem;
  background-color: transparent;
}

.cross {
  transform: rotate(45deg);
  width: 30px;
  cursor: pointer;
}

.visahero {
  padding: 5rem 0;
  padding-top: 10rem;
  min-height: 60vh;
  background-color: #10237c;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner-heading {
  color: #fff;
  font-size: 2.5rem;
  font-weight: bold;
}

.white {
  color: #fff;
}

.banner-image {
  border-radius: 50%;
  width: 100%;
  max-width: 500px;
}

.sec {
  padding: 5rem 0;

  @media all and (max-width: 768px) {
    padding: 3rem 0;
  }
}

.side-btns {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 1rem;
  border-radius: 0.4rem;
  height: 100%;
  button {
    background-color: #10237c;
    width: 100%;
    padding: 0.8rem;
    border: 0;
    border-radius: 0.4rem;
    color: #fff;
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }

  .active{
    background-color: #000;
  }
}
.card-info {
  background-color: #f7f7f7;
}

.border-radius {
  border-radius: 0.4rem;

  object-fit: cover;
}

.visa-card {
  padding: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-bottom: 1rem;
  border-radius: 0.4rem;
  display: flex;
  gap: 1rem;

 

  .input{
    input{
      width: 100%;
      padding: 0.6rem;
      border-radius: 0.4rem;
      border: 1px solid #848484;
    }
  }

  button{
    background-color: #10237c;
    color: #fff;
    text-transform: uppercase;
    border: 0;
    padding: 0.6rem;
    border-radius: 0.4rem;
    font-size: 1.1rem;
  }

  .input , button {
    width: 48%;
  }

  @media all and (max-width: 992px) {
    flex-direction: column;

    .input , button {
      width: 100%;
    }
  }
}


.region{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.4rem;
  h4{
    
  font-size: 1.2rem;
  font-weight: 500;
  }
  ul{
    padding: 0;
    list-style: none;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    li{
      margin-right: 1rem;
      margin-left: 0.5rem;
      position: relative;
      font-weight: bold;
      

      &::after{
        content: '';
        position: absolute;
        width: 2px;
        height: 20px;
        background-color: #10237c;
        top: 2px;
        left: -0.5rem;
      }
    }
  }

  @media all and (max-width: 992px) {
    ul{
      display: block;
      li{
        margin-bottom: 0.5rem;
      }
    }
  }
}


.nav-visa{
  max-width: 45px;
 
}


.usa{
  text-transform: capitalize;
  font-weight: 500;
  color: #1a046f;
  span{
    text-transform: capitalize;
    font-weight: bold;
    margin-top: 1rem;
  }
}


.payment-para {
  text-align: start !important;
  font-size: 0.8rem;
}


.payment-box{
  display: flex;
  justify-content: space-between;
  max-width: 90px;
}


.nav-btn{
  background-color: #10237c;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  border: 0;
  text-transform: capitalize;
  font-size: 0.9rem;
  margin-left: 1rem;

  @media all and (max-width: 768px){
    margin-left: 0;
    margin-top: 0.5rem;
  }
}

.sig-img{
width: 100%;
max-width: 400px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  
}