* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
}


.started-link{
  padding: 0.5rem 1rem;
  background-color: #3cb95d;
  text-decoration: none;
  color: #000;
}
